.login{
    color:rgb(245, 30, 180);
    text-align: center;
    font-size: 72px;
    font-family: fantasy;
    margin-top: 90px;
    background-image: url('https://besthqwallpapers.com/Uploads/19-4-2021/164686/thumb2-youtube-pink-logo-4k-pink-neon-lights-social-network-creative.jpg');
    height:600px;
    background-position: center;
    
}
.form{
    color:rgb(255, 0, 128);
    text-align: center;
    font-size: 22px;
    margin-trim: 44px;
    margin-top: 80px;
}
.form
{
    background-image: url('https://besthqwallpapers.com/Uploads/19-4-2021/164686/thumb2-youtube-pink-logo-4k-pink-neon-lights-social-network-creative.jpg');
    height:600px;
    
}