.homepage{
    color:chartreuse;
    text-align: center;
    font-size: 22px;
    margin-top: 180px;
    
}
.homepage
{
    background-image: url('https://besthqwallpapers.com/Uploads/19-4-2021/164686/thumb2-youtube-pink-logo-4k-pink-neon-lights-social-network-creative.jpg');
    height:600px
}